########################################################################################
# ----------------------------------- Traders-Pit ------------------------------------ #
########################################################################################

# --------------------------------------VS Code--------------------------------------- #

*.code-workspace
.vscode/

# -------------------------------------END----CODE------------------------------------ #
